# Common. #####################################################################
**/.DS_Store
**/node_modules
**/*.env

# client/ #####################################################################
client/dist

# server/ #####################################################################
server/dist
