.Table {
	border: 1px solid;
}

.Row {
	display: grid;
	grid-template-columns: 23% 27% 30% 10% 10%;
}

.HeaderCell {
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #3293a8;
	border: 1px solid;
	color: white;
}

.AddRecordCell {
	position: relative;
	grid-column: span 2;
}

.Cell {
	position: relative;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: ghostwhite;
	border: 1px solid black;
}

.CellInput {
	width: 100%;
}

.ExpenseCategory {
	color: darkred;
}

.IncomeCategory {
	color: darkgreen;
}

.ExpenseRecordCell {
	color: darkred;
}

.ExpenseRecordCell::before {
	content: '-';
}

.IncomeRecordCell {
	color: darkgreen;
}

.IncomeRecordCell::before {
	content: '+';
}
