.Table {
	border: 1px solid black;
}

.Row {
	display: grid;
	grid-template-columns: 23% 27% 22% 14% 14%;
}

.HeaderCell {
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: cadetblue;
	border: 1px solid black;
	color: white;
}

.AddRecordCell {
	grid-column: span 2;
}

.AddRecordCell > svg {
	height: 100%;
	width: 100%;
	padding: 0.1rem;
	fill: whitesmoke;
}

.Cell {
	height: 45px;
	line-height: 45px;
	text-align: center;
	background-color: ghostwhite;
	border: 1px solid black;
}

.CellInput {
	width: 100%;
}

.Cell > svg {
	height: 100%;
	width: 100%;
	padding: 0.1rem;
	fill: cadetblue;
}

.ExpenseCategory {
	color: darkred;
}

.IncomeCategory {
	color: darkgreen;
}

.ExpenseRecordCell {
	color: darkred;
}

.ExpenseRecordCell::before {
	content: '-';
}

.IncomeRecordCell {
	color: darkgreen;
}

.IncomeRecordCell::before {
	content: '+';
}
