.Table {
	border: 1px solid;
}

.Row {
	display: grid;
	grid-template-columns: 23% 27% 30% 10% 10%;
}

.HeaderCell {
	height: 35px;
	line-height: 35px;
	text-align: center;
	background-color: whitesmoke;
	border: 1px solid;
}

.AddRecordCell {
	position: relative;
	grid-column: span 2;
}

.Cell {
	position: relative;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: ghostwhite;
	border: 1px solid;
}

.CellInput {
	width: 100%;
}

.ExpenseCategory {
	color: darkred;
}

.IncomeCategory {
	color: green;
}
