.Button {
	height: 35px;
	padding: 0 10px;
	border: none;
	border-radius: 5px;
}

.ButtonPrimaryBackground {
	background: var(--color-theme-1);
	color: white;
}

.ButtonRedBackground {
	background: var(--soft-red);
	color: white;
}

.ButtonWhiteBackground {
	background: white;
	color: var(--soft-black);
}
